/* All Coomon CSS start */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
/* All Coomon CSS start */

/* header part start */
#header_part{
   
}
.logo_with_menu{
    display: flex;
}
.logo{
    padding: 30px;
    width: 40%;
}


.menu{
    width: 40%;
}
.menu ul{
    display: flex;
}
.menu ul li a{
    padding: 15px;
    line-height: 80px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #000;
}

.icons{
    padding: 40px;
    width: 20%;
}
.icons i{
    margin-left: 10px ;
}
/* header part End */
/* Banner part start */
#Banner_part{
    padding-top: 205px;
    padding-bottom: 140px;
    background: url(../images/Section.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner_text h1{
    font-size: 64px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    padding-right: 606px;
    color: #fff;
}
.banner_text p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding-right: 520px;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.banner_text a{
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #fff;
}
.banner_text a{
    padding: 35px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    background: white;
    color: #000;
    
}
/* Banner part End */