/* All Coomon CSS start */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
/* All Coomon CSS start */

/* header part start */
#header_part{
   
}
.logo_with_menu{
    display: flex;
}
.logo{
    padding: 20px;
    width: 40%;
}


.menu{
    width: 40%;
}
.menu ul{
    display: flex;
}
.menu ul li a{
    padding: 15px;
    line-height: 80px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #000;
}

.icons{
    padding: 20px;
    width: 20%;
}
.icons i{
    margin-left: 10px ;
}
/* header part End */